.container-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alterado para flex-start */
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
}

.card {
    position: relative;
    width: calc(20% - 5px); /* Define a largura dos cards com uma margem entre eles */
    margin-right: 20px; /* Adiciona margem direita para espaçamento entre os cards */
    margin-bottom: 20px; /* Mantém a margem inferior para espaçamento entre as linhas */
    box-sizing: border-box; /* Garante que a largura inclua padding e borda */
}

.card:last-child {
    margin-right: 0; /* Remove a margem direita do último card */
}

.img-thumbnail {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 5px;
}

.img-main {
    width: 95%;
    height: 95%;
}

.container-tags{
    width: 95%;
    background-color: rgb(216, 216, 216);
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 168, 247);
    padding: 15px;
}

.container-footer a, .container-footer h4 {
    margin: 0;
}

.container-footer a:first-child {
    margin-right: auto;
}

.container-footer a:last-child {
    margin-left: auto;
}

.dup,
.original {
    flex: 1; /* Distribui o espaço disponível igualmente entre os cards */
    margin: 10px; /* Adiciona margem entre os cards */
}

.card-dupl {
    width: 60%;
    height: 60%;
}

.image-container h3{
    color: white;
}

@media (max-width: 768px) {
    .card {
      width: 100px; /* Define a largura fixa do card */
      margin-right: 10px; /* Remove a margem direita para ocupar toda a largura disponível */
    }
  }