.card {
    position: relative;
    /* Outros estilos do card */
}

.rectangle {
    position: absolute;
    width: 350px;
    height: 100px;
    font-size: 12px;
    background-color: pink;
    display: none;
    top: -110px; /* Posiciona abaixo do card */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Corrige a centralização */
    z-index: 1;
    max-width: 350px; /* Largura máxima do retângulo */
    max-height: 100px;
    word-wrap: break-word; /* Quebra de linha automática */
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
}
.rectangle-header{
    background-color: blueviolet;
}

.retangle-body{
    background-color: rgb(81, 255, 0);
    
}

.image-container {
    position: relative;
}