body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main {
    display: flex;
    flex: 1;
}

aside {
    background-color: #f4f4f4;
    padding: 10px;
    width: 200px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.pagination li {
        color:#f4f4f4;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline-block;
        margin-right: 5px; /* Espaçamento entre os números */
}

.pagination a{
    text-decoration: none;
    color:#f4f4f4;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tags-editable {
    width: 100%;
    box-sizing: border-box;
    /* Adicione outras propriedades de estilo conforme necessário */
}

.tag-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}