body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main {
    display: flex;
    flex: 1;
}

aside {
    background-color: #f4f4f4;
    padding: 10px;
    width: 200px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.img-main img {
    width: 50px; /* 10% de 500px */
    height: 50px; /* 10% de 500px */
    /* outras propriedades de estilo para a imagem */
}