<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><%- include('nav.ejs') %></header>
    <main>
        <div class="container">
            <div class="artivle-head">
                <a href="#" class="post">Post</a>
            </div>
            <div class="article-body">
                <p>Aqui ficam os cards de img</p>
            </div>
            <div class="article-footer">
                <p>aqui fica a paginação</p>
            </div>
        </div>        
    </main>
    <aside></aside>
<footer></footer>
</body>
</html>