<body class="bodylogin">
    <div class="login">
    <h2>Login</h2>
    <form action="/login" method="post">
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    <div>
        <h4><a href="/register">Registrar</a></h4>
        <h5><a href="#">esqueci a senha</a></h5>
    </div>
</div>
</body>
</html>
