<%- include('partials/head.ejs') %>
<main>
    <aside>
        <h2>Aside</h2>
        <p>Conteúdo da barra lateral.</p>
    </aside>
    <section>
        <h2>Main Content</h2>
        <p>Conteúdo principal.</p>
    </section>
</main>
<footer>
    <p>Footer</p>
</footer>
<%- include('partials/endBody.ejs') %>
