<%- include('partials/head.ejs') %>
<main>
    <%- include('partials/aside.ejs') %>
    <section>
        <div class="container">
            <div class="container-head">Esse seria o Header
                <a>Posts</a>
                <p>Outras coisas</p>
            </div>
            <div class="container-body">
                <h2>Ola seja bem vindo <%= username %></h2>
                <ul>
                    <li>Ver ultimos postados <a href="/home">Post</a></li>
                    <li>Alterar Perfil <a href="#">alterar</a></li>
                    <li>Fazer Upload: <a href="/upload">upload</a></li>
                    <li>LogOut <a href="/logout">Sair</a></li>
                </ul>
            </div>
            <div class="footer">
                recebe o footer, paginação
            </div>
        </div>
    </section>
</main>
<footer>
    <p>Footer</p>
</footer>
<%- include('partials/endBody.ejs') %>
