<!--head.js-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/cards.css">
    <link rel="stylesheet" href="/modal-img.css">
    <link rel="stylesheet" href="/upload.css">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/aside.css">
    <link rel="stylesheet" href="/teste.css">
    <!-- Adicionar o script externo com caminho relativo -->
    <script src="/scripts/redimensionar-main-img.js"></script>
    <script src="/scripts/text-area-imgMain.js"></script>
</head>
<body>
    <header><%- include('nav.ejs') %></header>