<div class="navbar">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Artistas</a></li>
        <li><a href="#">Tags</a></li>
        <li><a href="/upload">Upload</a></li>
    </ul>
    <div class="white-div"></div>
</div>